<div class="row">
  <div class="col-md-6">
    <h3>Half day session</h3>
    <table class="table table-striped">
		<tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> <td></td> </tr>
		<tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/01-basics.html">1. Automated Version Control</a></td> <td></td> </tr>     
		<tr> <td>14:05</td>  <td><a href="https://swcarpentry.github.io/git-novice/02-setup.html">2. Setting Up Git</a></td> <td></td> </tr>     
		<tr> <td>14:10</td>  <td><a href="https://swcarpentry.github.io/git-novice/03-create.html">3. Creating a Repository</a></td> <td></td> </tr>     
		<tr> <td>14:20</td>  <td><a href="https://swcarpentry.github.io/git-novice/04-changes.html">4. Tracking Changes</a></td> <td></td> </tr>     
		<tr> <td>14:40</td>  <td><a href="https://swcarpentry.github.io/git-novice/05-history.html">5. Exploring History</a></td> <td></td> </tr>     
		<tr> <td>15:05</td>  <td><a href="https://swcarpentry.github.io/git-novice/06-ignore.html">6. Ignoring Things</a></td> <td></td> </tr>     
		<tr> <td>15:10</td>  <td><a href="https://swcarpentry.github.io/git-novice/07-github.html">7. Remotes in GitHub</a></td> <td></td> </tr>     
		<tr> <td>15:55</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab.html">8. Collaborating</a></td> <td></td> </tr>     
		<tr> <td>16:20</td>  <td><a href="https://swcarpentry.github.io/git-novice/09-conflict.html">9. Conflicts</a></td> <td></td> </tr>     
		<tr> <td>16:35</td>  <td><a href="https://swcarpentry.github.io/git-novice/10-open.html">10. Open Science</a></td> <td></td> </tr>     
		<tr> <td>16:45</td>  <td><a href="https://swcarpentry.github.io/git-novice/11-licensing.html">11. Licensing</a></td> <td></td> </tr>     
		<tr> <td>16:50</td>  <td><a href="https://swcarpentry.github.io/git-novice/12-citation.html">12. Citation</a></td> <td></td> </tr>     
		<tr> <td>16:55</td>  <td><a href="https://swcarpentry.github.io/git-novice/13-hosting.html">13. Hosting</a></td> <td></td> </tr>     		
		<tr> <td>17:00</td>  <td>END and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> <td></td> </tr>
		<tr> <td></td>  <td><a href="">14. Supplemental: Using Git from RStudio</a></td> <td></td> </tr>     
    </table>
  </div>  
</div>
