<div class="row">
  <div class="col-md-6">
    <h3>Half day session</h3>
    <table class="table table-striped">
		<tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> <td></td> </tr>
		<tr> <td>14:00</td>  <td><a href="">1. Automated Version Control</a></td> <td></td> </tr>     
		<tr> <td>14:05</td>  <td><a href="">2. Setting Up Git</a></td> <td></td> </tr>     
		<tr> <td>14:10</td>  <td><a href="">3. Creating a Repository</a></td> <td></td> </tr>     
		<tr> <td>14:20</td>  <td><a href="">4. Tracking Changes</a></td> <td></td> </tr>     
		<tr> <td>14:40</td>  <td><a href="">5. Exploring History</a></td> <td></td> </tr>     
		<tr> <td>15:05</td>  <td><a href="">6. Ignoring Things</a></td> <td></td> </tr>     
		<tr> <td>15:10</td>  <td><a href="">7. Remotes in GitHub</a></td> <td></td> </tr>     
		<tr> <td>15:55</td>  <td><a href="">8. Collaborating</a></td> <td></td> </tr>     
		<tr> <td>16:20</td>  <td><a href="">9. Conflicts</a></td> <td></td> </tr>     
		<tr> <td>16:35</td>  <td><a href="">10. Open Science</a></td> <td></td> </tr>     
		<tr> <td>16:45</td>  <td><a href="">11. Licensing</a></td> <td></td> </tr>     
		<tr> <td>16:50</td>  <td><a href="">12. Citation</a></td> <td></td> </tr>     
		<tr> <td>16:55</td>  <td><a href="">13. Hosting</a></td> <td></td> </tr>     		
		<tr> <td>17:00</td>  <td>END and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> <td></td> </tr>
		<tr> <td></td>  <td><a href="">14. Supplemental: Using Git from RStudio</a></td> <td></td> </tr>     
    </table>
  </div>  
</div>
